@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: "Marcellus", serif;
}

section {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

#canvas-elem::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/bg/background-xl.png);
  background-repeat: no-repeat;
  background-size: "cover";
  transition: all 0.3s linear;
}

main {
  position: relative;
}

#section-1 {
  position: relative;
  --gap: 5rem;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 2.5rem;

    .nav-elem:nth-child(2) {
      i {
        color: red;
      }
    }

    svg {
      max-width: 5rem;
      width: 100%;
      height: 100%;
    }
  }
  .middle {
    display: flex;
    gap: var(--gap);
    .left,
    .right {
      width: 50%;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 5rem;

      h1 {
        font-size: 6rem;
        line-height: 1;
        text-align: right;
      }
    }
  }
  .bottom {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .right {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
    }

    .first-para {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    .second-para {
      margin-bottom: 20px;
    }
  }
  .first-line {
    width: 40rem;
    height: 1px;
    background-color: rgba(255, 0, 0, 0.385);
    position: absolute;
    transform: rotate(50deg) translate(0, -25rem);
  }
  .second-line {
    width: 10rem;
    height: 1px;
    background-color: rgba(255, 0, 0, 0.385);
    position: absolute;
    transform: rotate(135deg) translate(0, -25rem);
    top: 5%;
    right: 40%;
  }
}

#section-2 {
  .titles {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    margin-block: 15rem;
    gap: 1rem;

    .title {
      display: flex;
      align-items: flex-start;
      gap: 4rem;
      opacity: 0.3;
      padding-block: 1rem;
      transition: all 0.3s linear;
      cursor: pointer;

      small {
        width: 120px;
        flex-shrink: 0;
        margin-top: 1rem;
        font-size: 0.7rem;
      }

      h1 {
        font-size: 4.5rem;
        font-weight: 100;
        line-height: 1;
        margin: 0;
      }
    }

    .title:hover {
      opacity: 1;
    }
  }
}

main:has(#section-2 .title:hover) #canvas-elem::after {
  opacity: 0;
}

.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) #tomorrowland {
  opacity: 1;
  background-color: rgb(5, 8, 26);
}
main:has(#section-2 .title[img-title="navy-pier"]:hover) #navy-pier {
  opacity: 1;
  background-color: rgb(5, 8, 26);
}
main:has(#section-2 .title[img-title="msi-chicago"]:hover) #msi-chicago {
  opacity: 1;
  background-color: rgb(5, 8, 26);
}
main:has(#section-2 .title[img-title="louis-phone"]:hover) #louis-phone {
  opacity: 1;
  background-color: rgb(5, 8, 26);
}
main:has(#section-2 .title[img-title="kikk-festival"]:hover) #kikk-festival {
  opacity: 1;
  background-color: rgba(1, 15, 97, 0.58);
}
main:has(#section-2 .title[img-title="kennedy-center"]:hover) #kennedy-center {
  opacity: 1;
  background-color: rgb(5, 8, 26);
}
main:has(#section-2 .title[img-title="royal-opera"]:hover) #royal-opera {
  opacity: 1;
  background-color: rgb(176, 4, 4);
}

#section-3 {
  padding-block: 5rem;
  padding-inline: 5rem;

  .top,
  .bottom {
    display: flex;
    width: 100%;
    gap: 6rem;
  }
  .left,
  .right {
    width: 50%;
  }

  .top .left {
    padding-left: 15rem;
    position: relative;
    h3 {
      font-size: 3rem;
      font-weight: 100;
    }
  }

  .bottom .right {
    padding-top: 5rem;
    display: flex;
    gap: 3rem;
    p {
      opacity: 1;
      font-weight: 200;
      font-size: 1rem;
    }
  }

  .bottom .right button {
    display: block;
    margin-top: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .bottom .right button:hover {
    opacity: 0.5;
  }
}
